# Kindle Configuration
# Update these values according to your Kindle setup
KINDLE_IP=192.168.29.55
KINDLE_USER=root
KINDLE_REMOTE_PATH=/mnt/us/book/Others/

# Komga Configuration
KOMGA_LIBRARIES_PATHS=/data
SPRING_PROFILES_ACTIVE=dev,noclaim
SERVER_PORT=25601
